streamlit
python-dotenv
openai
fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-groq
langchain-core
sentence-transformers
faiss-cpu
chromadb
passlib[bcrypt]
pandas
requests
cohere
duckdb
tabulate
python-multipart
pydantic
PyJWT
python-jose
cryptography

